.nbar{

    background-color: #1f88ca;
}


.b1{
    margin-right:  500px;

}


a.one{

    color:rgb(94, 94, 94);
    font-size: 14px;
    
   
}
a.one:hover{
    
    background-color: rgb(9, 135, 219);
   color: aliceblue;
    border-radius: 20px;
 

}
a.buton{
    background-color: rgb(89, 169, 223);
    color:aliceblue;
    border-radius: 20px;
    
}


.navbar{
    margin-left: 400px;
}
.bg{
    background-image:url("/site33/img/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
    --headingColor: #1b1b1b;
}
.bg1{
    color: aliceblue;
    font-size: 68px;
    font-family:font-family 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-top: 270px;
    
}
.a1{
    color: black;
    font-size:50px ;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
}
.a2{
    height: 250px;
}
.a3{
    text-align: center;
    color: black;
    font-size: 20px;
    
}
.a4{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: rgb(205, 225, 241);
    padding: 10px;
    
}
.a5{
    border-right: 1px solid rgb(4, 8, 8);
  text-align: center;

}
.b2{
    background-color: rgb(187, 214, 238);
}
.write{
    font-size:40px ;
    color: black;
}



